*, *::before, *::after {
    box-sizing: border-box;
}

main, body {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


/* navigation bar */
.container {
    width: 550px;
    margin: 0 auto;
    display: block;
    background-color: whitesmoke;
}

.nav-options {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
    background-color: lavenderblush;
    padding: 23px 15px 25px 14px;
    max-height: 90px;
}

input, select, button {
    margin: 10px 0;
}

input {
    width: 61px;
    height: 42px;
    border: none;
    border-radius: 4px;
    outline: 1px solid #D1D5DB;
}

select {
    min-width: 312px;
}

select, button {
    height: 42px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    color: #374151;
    background-color: transparent;
    padding: 0 13px;
}

button {
    font-size: 0.675rem;
    line-height: 16px;
    font-weight: 500;
}

button:focus, button:hover,
select:focus, button:hover,
input:focus, button:hover {
    cursor: pointer;
    border-color: black;
}


.item-div {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: start;
    justify-content: start;
}

.color-hex, .color-panel {
    width: 100%;
}

.color-panel {
    min-height: 400px;
    text-align: center;
    background-color: lavender;
}

.color-hex {
    height: 46px;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


